{% extends 'homepage/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Please Sign in</h1>
      <p></p>
      <p></p>
      <p></p>

        <form method="post" action="{% url 'users:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="email">Email:</label>
          <input type="email" name="email" placeholder="Enter your mail">

          <label for="password">Password</label>
          <input type="password" name="password">

          <input type="submit" name="" value="Sign in">

        </form>

    </div>
  </div>
{% endblock %}
