{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if show_check %}
        <h2>Your uploaded images are:</h2>

        <div class="row">
          {% for document in documents %}
          <div class="col-md-3">
              <img style="height:200px; width:200px" src="/media/uploaded/{{document.doc_name}}" alt="">
              <button type="button" name="button" document-id = '{{document.id}}' class = 'delete'>Delete</button>
          </div>
          {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <button id = 'process' type="button" name="button">Process</button>

      {% else %}
        <h2>You have not uploaded any images!</h2>
        <h2>Upload your image to process:</h2>
        <button type="button" name="button"><a href="{% url 'users:model_form_upload' %}">Upload</a></button>
      {% endif %}
    </div>
  </div>


{% block javascripts %}
{{ block.super }}
{% load static %}
<script src="{% static 'js/show.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function(){
    show.init()
  })
</script>

{% endblock %}

{% endblock %}
