{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if upload_check %}
        <h1>Your image was uploaded succesfully </h1>
      {% else %}
        <h1>Upload your image to process:</h1>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="" value="Upload">
        </form>
      {% endif %}
    </div>
  </div>

{% endblock %}
