{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if upload_check %}
        <h1>Your Image uploaded successfully</h1>
        <form class="" action="{% url 'users:process' %}" method="post">
        {% csrf_token %}
        <button id= 'process' type="button" name="button">Next</button>

        </form>

        <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input id = 'upload' type="submit" name="" value="Upload">
        </form>

      {% else %}
        <h1>Upload your image to process:</h1>
        <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="" value="Upload">
        </form>
        <div class="container">
          <h2>See your uploaded images here:</h2>
          <button id = 'show' type="button" name="button">Show</button>

        </div>
      {% endif %}
    </div>
  </div>

{% block javascripts %}
{{ block.super }}
{% load static %}
<script src="{% static 'js/upload.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function(){
    upload.init()
  })
</script>

{% endblock %}

{% endblock %}
